<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<article class="col-6 col-12-xsmall work-item">
						<img src="{{phone.image.url}}" alt="">
						<h3>{{phone.title}}</h3>
						<p>{{phone.description}}</p>
						<p>{{phone.model}}</p>
						<p>{{phone.year}}</p>
					   </article>

<form>
	<a href="{% url 'update' phone.id %}"><input type="button" value="update"></a>
	<a href="{% url 'delete' phone.id %}"><input type="button" value="delete"></a>
</form>

</body>
</html>