{%extends 'base.html'%}
{%load static%}

{%block content%}


				<!-- Header -->
					<header id="header">
						<div class="inner">
							{% if user.is_authenticated %}
							<a href="#" class="image avatar"><img src="{% static 'images/avatar.jpg'%}" alt="" /></a>
							<h1><strong>Welcome new user!</strong> {{user.username}}<br />
							We are glad to help you sell phones<br />
							crafted by ADshop</a>.</h1>
							{% else %}
							<a href="#" class="image avatar"><img src="{% static 'images/avatar.jpg'%}" alt="" /></a>
							<h1><strong>Register please!</strong><a href="http://127.0.0.1:8000/accounts/register">Register</a>.<br />
								If you have an account, please <a href="http://127.0.0.1:8000/auth/login">Log in</a>.</h1>
							{% endif %}
						</div>
					</header>
{% if user.is_authenticated %}
		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Мы предоставляем платформу для продажи телефонов</h2>
						</header>
						<p>Мы даём возможность любому человеку создать профиль и разместить обьфвление о продаже телефонов. Для создания объявления нажмите на Create</p>
						<ul class="actions">
							<li><a href="{% url 'create' %}" class="button">Create</a></li>
						</ul>
						<ul class="actions">
							<li><a href="{% url 'search' %}" class="button">Search</a></li>
						</ul>
					</section>

					<!--Two-->
					<section id="two">
					  <h2>Recent Work</h2>
					  <div class="row">
					  	{% for phone in phones %}
					   <article class="col-6 col-12-xsmall work-item">
						<a href="{% url 'detail' phone.id %}" class="image fit thumb" style="cursor: pointer; outline: 0px;"><img src="{{phone.image.url}}" alt=""></a>
							<h3>{{phone.title}}</h3>
						<p>{{phone.description}}</p>
						<p>{{phone.model}}</p>
						<p>{{phone.kgs}}</p>
						<p>{{phone.created_date}}</p>
					   </article>
					  {% endfor %}

					  </div>
					  <ul class="actions">
					   <li><a href="#" class="button">Full Portfolio</a></li>
					  </ul>
					 </section>
{% endif %}

			</div>
{%endblock content%}
		<!-- Footer -->
